# ---- Database ----
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_DB=matdaaniq_db
DATABASE_URL=postgresql://postgres:0000@db:5432/matdaaniq_db

# ---- Backend ----
CORS_ORIGINS=https://www.matdaaniq.com
ENVIRONMENT=production

# ---- Frontend ----
NEXT_PUBLIC_API_URL=https://www.matdaaniq.com/api
