# ---- Database (MySQL) ----
MYSQL_ROOT_PASSWORD=Tiger
MYSQL_DATABASE=matdaaniq_db
DATABASE_URL=mysql+pymysql://root:Tiger@db:3306/matdaaniq_db?charset=utf8mb4

# ---- Backend ----
CORS_ORIGINS=https://www.matdaaniq.com
ENVIRONMENT=production
ZYTE_API_KEY=

# ---- Frontend ----
NEXT_PUBLIC_API_URL=https://www.matdaaniq.com/api
